" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

set highlightedyank

set number
set relativenumber

set showmatch
set showmode
set showcmd
set hlsearch
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

set which-key
set notimeout

let mapleader = " "

sethandler <c-j> a:vim
sethandler <c-k> a:vim
nmap <c-h> <c-w>h
nmap <c-l> <c-w>l
nmap <c-j> <c-w>j
nmap <c-k> <c-w>k

nmap <leader>zm :action ToggleDistractionFreeMode<CR>

nmap <Leader>j :action PreviousTab<CR>
nmap <Leader>k :action NextTab<CR>

nmap <leader>gb :action Annotate<CR>

" File navigation
map <leader>ff <action>(GotoFile)
map <leader>fr <action>(RecentFiles)
map <leader>fc <action>(FindInPath)
map <leader><leader> <Action>(RecentFiles)
map <leader>fl <action>(RecentLocations)


map <leader>rn <Action>(RenameElement)
map <leader>rm <Action>(ExtractMethod)
map <leader>rv <Action>(IntroduceVariable)
map <leader>rcf <Action>(IntroduceField)
map <leader>rs <Action>(ChangeSignature)
map <leader>rr <Action>(Refactorings.QuickListPopupAction)
map <leader>rf <Action>(ReformatCode)
map <leader>rg <Action>(Generate)

map <leader>t <Action>(ActivateTerminalToolWindow)

map <leader>sv <Action>(SplitVertically)
map <leader>sh <Action>(SplitHorizontally)
map <leader>sf <Action>(EditSourceInNewWindow)
map <leader>n <Action>(NextWindow)

map <leader>c <Action>(CloseContent)

vnoremap < <gv
vnoremap > >gv

map <C-d> <C-d>zz
map <C-u> <C-u>zz

" Move highlighted chunk
vmap J :m '>+1<CR>gv=gv
vmap K :m '<-2<CR>gv=gv

" Go to code
nmap gd <Action>(GotoDeclaration)
nmap gD <Action>(GotoTypeDeclaration)
nmap gi <Action>(GotoImplementation)
nmap gI <Action>(GotoSuperMethod)
nmap gr <Action>(ShowUsages)

nmap ][ <Action>(Back)
nmap [] <Action>(Forward)

Plug 'terryma/vim-multiple-cursors'
map mc <A-n>
map mx <A-x>
map mp <A-p>
